.box{display:none;}
.all{
	width:78.125%;
	max-width:1000px;
	margin:120px auto 50px auto;
}
.all> ul{
	width:21.7%;
	padding-right:1.8%;
	padding-top:7px;
	border-right:1px solid #bababa;
	float:left;
}
.all> ul >li{
	height:71px;
	border-bottom:5px solid white;
	background-image:url(../images/left_link_02.jpg);
	background-repeat:no-repeat;
	background-position:0 18px;
}
.all> ul> li.color{
	border-bottom:5px solid #fa9634;
}
.all>ul >li:first-of-type{background-image:url(../images/xsjx_1.gif);}
.all> ul li:nth-of-type(2){background-image:url(../images/hy_1.gif);}
.all> ul li:nth-of-type(3){background-image:url(../images/ydh_1.gif);}
.all> ul li:nth-of-type(4){background-image:url(../images/dxs_.gif);}
.all> ul li:nth-of-type(5){background-image:url(../images/hj_1.gif);}
.all> ul li:nth-of-type(6){background-image:url(../images/sdwh_1.gif);}
.all> ul li:hover{border-bottom:5px solid #fa9634;
background-image:url(../images/xsjx.gif);}
.all> ul li:nth-of-type(2):hover{background-image:url(../images/hy.gif);}
.all> ul li:nth-of-type(3):hover{background-image:url(../images/ydh.gif);}
.all> ul li:nth-of-type(4):hover{background-image:url(../images/dxs.gif);}
.all> ul li:nth-of-type(5):hover{background-image:url(../images/hj.gif);}
.all> ul li:nth-of-type(6):hover{background-image:url(../images/sdwh.gif);}
.all> ul li a{
	display:block;
	height:71px;
	padding-left:47px;
	line-height:71px;
	font-size:20px;
}
.all article{
	width:70.6%;
	padding-left:5.1%;
	float:left;
}
.all article p{
	font-size:16px;
	line-height:30px;
	color:black;
	text-indent:32px;
}
.all article p:first-of-type{margin-top:20px;}
/*断点*/
@media screen and (max-width:1280px) {
	.all{
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		box-sizing: border-box;
	}
}
@media screen and (max-width:1000px) {
	.box{display:block;}
	.all article .flexslider{display:none;}
	.all{margin-top:20px;}
}
@media screen and (max-width:810px) {
	.all ul{clear: both; width:100%; border-right:0;}
	.all ul li{
		width:33.3%;
		height:107px;
		padding-right:0;
		float: left;
		background-position:50% 10px;
		text-align:center;
	}
	.all ul li a{
		height:40px;
		line-height:40px;
		margin-top:57px;
		padding-left:22px;
		font-size:18px;
	}
	.all article{clear: both; width:100%; margin-top:20px; width:100%; padding:0;}
}
@media only screen and (max-width:480px ) {
	.all ul li a{
		font-size:16px;
	}
	.all ul li a span{display:none;}
}