.feature{
	width:78.125%;
	max-width:1000px;
	margin:120px auto 50px auto;
}
.feature ul{
	width:21.7%;
	padding-right:1.8%;
	padding-top:7px;
	border-right:1px solid #bababa;
	float:left;
}
.feature ul li{
	height:71px;
	border-bottom:5px solid white;
}
.feature ul li:nth-of-type(2) {border-bottom:5px solid #fa9634;}
.feature ul li:nth-of-type(2) span{background-image:url(../images/xygk_03.jpg);}
.feature ul li:hover {border-bottom:5px solid #fa9634;}
.feature ul li:hover span{background-image:url(../images/xygk_03.jpg);}
.feature ul li:nth-of-type(2):hover span{background-image:url(../images/xygk_07.jpg);}

.feature ul li span{
	display:block;
	height:40px;
	width:40px;
	margin-top:15px;
	padding-left:20px;
	float:left;
	background-image:url(../images/xygk_02.jpg);
	background-repeat:no-repeat;
	background-position:12px 0;
}
.feature ul li:nth-of-type(2) span{background-image:url(../images/xygk_06.jpg);}
.feature ul li a{
	display:block;
	height:71px;
	padding-left:10px;
	line-height:71px;
	font-size:22px;
	float:left;
}
.feature article{
	width:70.6%;
	padding-left:5.1%;
	float:left;
}
.feature article h3{
	font-size:18px;
	height:55px;
	line-height:55px;
	color:#fa9634;
}
.feature article p{
	line-height:28px;
	font-size:14px;
	text-indent:28px;
}
/*断点1*/
@media screen and (max-width:1280px) {
	.feature{
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		box-sizing: border-box;
	}
}
@media screen and (max-width:770px) {
	.feature{margin-top:50px;}
	.feature ul{clear:both; display:flex; width:100%; border-right:0;}
	.feature ul li{
		width:50%;
		height:107px;
		padding-right:0;
	}
	.feature ul li:hover{border-bottom:0;}
	.feature ul li:nth-of-type(2){border-bottom:5px solid #fa9634;}
	.feature ul li:hover:first-of-type span{background-image:url(../images/xygk_02.jpg) ;}
	.feature ul li span{clear: both; margin-left:40%;}
	.feature ul li:nth-of-type(2) span{background-image:url(../images/xygk_07.jpg);}
	.feature ul li a{clear: both;
	height:48px;
	line-height:48px;
	font-size:20px;
	padding-left:35%;
	}
	.feature article{clear:both; margin-top:20px; width:100%; padding:0;}
}


